/* Styles here! */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-principal {
  width: 968px;
  margin: 2rem;
  z-index: 1;
}

.background-endava {
  background-image: url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.values-endava {
  width: 60%;
  color: white;
  text-align: center;
  padding: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 5rem;
}

.orange-box {
  background-color: #ff3f10;
  padding: 0;
  height: 1rem;
  width: 8rem;
  margin-bottom: 7rem;
}

.values-endava, .orange-box {
  z-index: 0;
}

.image-responsive, .values-endava-down {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ff3f10;
  color: white;
  padding: 0;
}

.element-left {
  padding: 0.4rem 1rem 0.6rem 1rem;
}

.element-right i {
  padding: 1rem;
}

.element-left img {
  height: 45px;
  width: auto;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.55rem 2rem;
}

.nav-link:hover {
  background-color: white;
  color: #ff3f10;
}

.dropdown-menu {
  display: none;
}

@media only screen and (max-width: 968px) {

  .container {
    align-items: flex-start;
  }

  .values-endava, .orange-box {
    display: none;
  }

  .background-endava {
    background-size: 100% 100%;
  }

  .image-responsive {
    display: initial;
    width: 100%;
    height: auto;
  }

  .background-endava {
    display: none;
  }

  .image-responsive, .values-endava-down {
    display: initial;
  }

  .text-principal {
    width: initial;
  }

  .text-principal, .values-endava-down {
    margin: 1rem 2rem;
  }

}


